{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="input-file">
            <h2 class="white_color"> Extract Email</h2>
{#            <form class="md-form">#}
{#                <div class="file-field">#}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="eml-file-name" lang="fr" data-url="{{ path('extract_email') }}">
                        <label class="custom-file-label" for="customFileLang">Sélectionner le fichier </label>
                    </div>
                </div>
                <input id="extract-email"class="btn btn-primary" type="submit" value="Extract">
{#            </form>#}
{#        </div>#}
        <div class="container" id="email-list"></div>
    </div>
{% endblock %}

 {% block javascript %}
        <script type="text/javascript" src="{{ asset('assets/js/email/extractEmail.js') }}"></script>

 {% endblock %}